.gitignore

.sass-cache/
*.css.map

# Mac
.DS_Store
*/**/.DS_Store

exampleSite/
static/scss/

# For test
layouts/index single sample.html
layouts/index test.html

# Not use - css
static/css/vendors/highlight/color-brewer.css
static/css/vendors/highlight/tomorrow.css

static/css/vendors/datatables/

static/css/vendors-extensions/fontawesome/all.css

static/css/vendors/bootstrap4/bootstrap.css
static/css/vendors/bootstrap4/bootstrap-*

static/css/vendors/mdb/mdb.css
static/css/vendors/mdb/style.css
static/css/vendors/mdb/compiled-*


# Not use - js
static/js/vendors/jquery/jquery-slim.min.js
static/js/vendors/jquery/jquery.smooth-scroll.js

static/js/vendors/datatables/

static/js/vendors/bootstrap4/

static/js/vendors/mdb/compiled-*
static/js/vendors/mdb/footer-*
static/js/vendors/mdb/mdb.js

static/js/vendors/katex/katex.js
static/js/vendors/katex/katex.css
static/js/vendors/katex/README.md


# Not use - font
static/fonts/roboto/
