
/* .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
} */

/* 

Layout

*/

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI", 'Raleway', "Helvetica Neue", Arial, "PingFang SC", "Lantinghei SC", "Microsoft YaHei", sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.bg-light {
  background-color: #f7f7f7!important;
}


.white-bg {
  background: white;
}


.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


.post-main-wrapper {
  /* padding: 5rem 5rem; */
  margin: 3rem 2rem;
}

.post-wrapper {
  margin: 1.5rem 0.5rem 2rem 3rem;
  padding: 4rem 6rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08), 0 2px 6px 0 rgba(0, 0, 0, 0.1); 
}

.post-header {
  padding-bottom: 1rem;
}


.post-meta {
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2px;
}

.middot:before {
  content: "•";
}

.post-meta .middot {
    font-size: 6px;
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: middle;
}


.ul-x li { /* ul-x 表示横过来的ul */
  padding: 0 8px;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


.post-content {
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}




/* 

Navbar

*/
.navbar.scrolling-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar.scrolling-navbar.top-nav-collapse {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  padding-top: 1px;
  padding-bottom: 1px;
}





/* 

Avatar

*/

.avatar {
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  -webkit-mask-image: url(/img/mask/circle.svg)!important;
  mask-image: url(/img/mask/circle.svg)!important;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 50px;
}

.avatar-md {
  width: 10vmin;
}

.avatar-lg {
  width: 30vmin;
}

/* 竖屏时宽度小于等于758px */
@media (max-width: 767px) and (orientation : portrait) {
  .avatar-lg {
    width: 100px;
    float: none!important;
  }

  .p {
    font-size: 1rem!important;
  }

  .display-4{ 
    font-size: 2rem!important;
  }

  /* .carousel-content {
    top: 20%!important;
  } */

  div {
    font-size: 1rem!important;
  }

}

/* 横屏时高度小于等于576px */
@media (max-height: 576px) and (orientation : landscape){

  .p {
    font-size: 1rem!important;
  }

  .display-4{ 
    font-size: 2rem!important;
  }

  /* .carousel-content {
    top: 20%!important;
  } */

  div {
    font-size: 1rem!important;
  }

}



/* 

carousel

*/



.headfont {
  font-family: 'Raleway', "Helvetica Neue", Arial,  "PingFang SC", "Lantinghei SC", "Microsoft YaHei", sans-serif !important;

}

a, a:hover, a:active {
  color: inherit;
}

.carousel-content {
  position: absolute;
  right: 0;
  top: 30%;
  left: 0;
  /* z-index: 15; */
  /* display: -ms-flexbox;
  display: flex; */
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  /* margin-right: 15%;
  margin-left: 15%; */
  list-style: none;
}

.pull-right {
  float: right;
}
.carousel-indicators, .carousel-control-prev, .carousel-control-next {
  z-index: 30;
}



/* 

toc-nav  scrollspy

*/

.toc-nav {
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 6rem;
  overflow-y: auto;

  
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem; 
}

#TableOfContents {
  margin-left: -1rem;
}


/* .toc-nav .nav-item {
  width: 100%;
} */

/* .toc-nav a.nav-link {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #666;
  -webkit-border-radius: 0;
  border-radius: 0;
} */


/* .toc-nav a.nav-link:hover {
  background-color: transparent;
  border-left: .025rem solid #45526e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #45526e; 
} */


/* .toc-nav a.nav-link.active, .toc-nav a.nav-link:active {
  background-color: transparent;
  color: black; 
  border-left: .125rem solid #45526e;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
}  */



.toc-nav li {
  width: 100%;
}

.toc-nav .nav-item, .toc-nav .nav-link {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #666;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.toc-nav a.nav-link:hover {
  background-color: transparent;
  border-left: .025rem solid #45526e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #45526e; 
}


.toc-nav a.nav-link.active, .toc-nav a.nav-link:active {
  background-color: transparent;
  /* color: black;  */
  color: #38849e;
  /* border-left: .125rem solid #45526e; */
  border-left: .125rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
} 

.toc-nav ul {
  list-style: none;
  margin-left: 1rem;
  padding-left: 0;
}



/* 
   Stepper 
 */

 .stepper li a {
  padding: 1.5rem;
  font-size: .88rem;
  text-align: center;
}

.stepper-vertical {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stepper-vertical li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.stepper-vertical li a {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}


.stepper-vertical li a .circle {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.stepper li a .circle {
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0,0,0,.38);
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  margin-right: .5rem;
}

.stepper-vertical li:not(:last-child):after {
  content: "";
  position: absolute;
  width: 1px;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  left: 2.19rem;
  top: 3.44rem;
  background-color: rgba(0,0,0,.1);
}


/* 
   Timeline
 */

 @media (max-width: 1025px) {
  .stepper.timeline li {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; } }

.stepper.timeline li a {
  padding: 0px 24px;
  left: 50%; }
  @media (max-width: 450px) {
    .stepper.timeline li a {
      left: 6%; } }
  @media (min-width: 451px) and (max-width: 1025px) {
    .stepper.timeline li a {
      left: 6%; } }
  .stepper.timeline li a .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -50px;
    background-color: #ccc;
    z-index: 2; }

.stepper.timeline li .step-content {
  width: 45%;
  float: left;
  border-radius: 2px;
  position: relative; }
  .stepper.timeline li .step-content:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #e0e0e0;
    border-right: 0 solid #e0e0e0;
    border-bottom: 15px solid transparent;
    content: " "; }
  .stepper.timeline li .step-content:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " "; }
  @media (max-width: 450px) {
    .stepper.timeline li .step-content {
      width: 80%;
      left: 3rem;
      margin-right: 3rem;
      margin-bottom: 2rem;
      float: right; }
      .stepper.timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .stepper.timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }
  @media (min-width: 451px) and (max-width: 1025px) {
    .stepper.timeline li .step-content {
      width: 85%;
      left: 3rem;
      margin-right: 3rem;
      margin-bottom: 2rem;
      float: right; }
      .stepper.timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .stepper.timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }

.stepper.timeline li.timeline-inverted {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .stepper.timeline li.timeline-inverted .step-content {
    float: right; }
    .stepper.timeline li.timeline-inverted .step-content:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto; }
    .stepper.timeline li.timeline-inverted .step-content:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto; }

.stepper.stepper-vertical li:not(:last-child):after {
  content: " ";
  position: absolute;
  width: 3px;
  background-color: #e0e0e0;
  left: 50%;
  top: 57px;
  margin-left: -1.5px; }
  @media (max-width: 450px) {
    .stepper.stepper-vertical li:not(:last-child):after {
      left: 6%; } }
  @media (min-width: 451px) and (max-width: 1025px) {
    .stepper.stepper-vertical li:not(:last-child):after {
      left: 6%; } }

