<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "zh-cmn-Hans" }}">
  {{ partial "head.html" . }}
  <body class="bg-light" data-spy="scroll" data-target="#page-scrollspy" data-offset="90">
  <!-- <body class="bg-light" data-spy="scroll" data-target="#TableOfContents" data-offset="90"> -->
    <!-- Code that all your templates share, like a header -->
    

    {{ block "header" . }}
      {{ partial "site-navbar.html" . }} 
      {{ partial "page-header.html" . }}  
    {{ end }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    
    {{ partial "footer.html" . }}
    {{ partial "site-scripts.html" . }}
  </body>
</html>