{{ define "main" }}
  <main class="post-main-wrapper px-5">
    <!-- <div class="container"> -->
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <hr>
        
        {{ partial "sidebar-categories.html" . }}
        
        {{ partial "sidebar-tags.html" . }}

        {{ partial "sidebar-series.html" . }}

      </div>
      <!-- /.Sidebar -->

      <!-- Post list -->
      <!-- <div class="content"> -->
      <div class="col-md-9 mt-3">  
        <ul>
          {{ partial "page-heading.html" . }}
          
          {{ if .Content }}
            <div class="markdown">
              {{ .Content }}
            </div>
          {{ end }}  
        </ul>
        <div>
          <div class="pagination pagination-outline justify-content-end active-color">
            {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
            {{ template "_internal/pagination.html" . }}
          </div>

          {{ range $paginator.Pages }}
              {{ partial "post-card.html" . }}
          {{ end }}
            
        </div>
      </div>
      <!-- /.Post list -->

    </div>
  </main>
{{ end }}
