{{ define "main" }}
<main class="post-main-wrapper px-5">
  <!-- <div class="container"> -->
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <hr>
      
      {{ partial "sidebar-categories.html" . }}
      
      {{ partial "sidebar-tags.html" . }}

      {{ partial "sidebar-series.html" . }}

    </div>
    <!-- /.Sidebar -->

    <!-- Post list -->
    <!-- <div class="content"> -->
    <div class="col-md-9 mt-3">
      <ul>
        {{ partial "page-heading.html" . }}
      
        {{ if .Content }}
          <div class="markdown">
            {{ .Content }}
          </div>
        {{ end }}  
      </ul>
      <ul>
        {{ if eq .Site.Params.bloggroupby "month" }}
            {{ $.Scratch.Set "datespec" "2006.1" }}
        {{ else if eq .Site.Params.bloggroupby "year" }}
            {{ $.Scratch.Set "datespec" "2006" }}
        {{ end }}
        {{ if not ($.Scratch.Get "datespec") }}
            {{ range .Data.Pages.ByDate.Reverse }}
            {{ partial "li.html" . }}
            {{ end }}
        {{ else }}
            {{ range .Data.Pages.ByDate.GroupByDate ($.Scratch.Get "datespec") "desc" }}
                <li class="post-item no-bullet">
                    <span class="date">{{ .Key }}</span>
                </li>
                {{ range .Pages.ByDate.Reverse }}
                    {{ partial "li.html" . }}
                {{ end }}
            {{ end }}
        {{ end }}
      </ul>
    </div>
    <!-- /.Post list -->
    
  </div>
</main> 
{{ end }}
