<!-- <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>  2016 - 2018&copy; | Theme AllinOne Designed by Orianna |  Hosted by Github Pages </p>
    </div>
  </footer> -->


  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

      <!--Call to action-->
      <div class="pt-4">
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">Download MDB
          <i class="fa fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Start free tutorial
          <i class="fa fa-graduation-cap ml-2"></i>
        </a>
      </div>
      <!--/.Call to action-->
  
      <hr class="my-4">
  
      <!-- Social icons -->
      <div class="pb-4">
        <a href="https://www.facebook.com/mdbootstrap" target="_blank">
          <i class="fa fa-facebook mr-3"></i>
        </a>
  
        <a href="https://twitter.com/MDBootstrap" target="_blank">
          <i class="fa fa-twitter mr-3"></i>
        </a>
  
        <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
          <i class="fa fa-youtube mr-3"></i>
        </a>
  
        <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
          <i class="fa fa-google-plus mr-3"></i>
        </a>
  
        <a href="https://dribbble.com/mdbootstrap" target="_blank">
          <i class="fa fa-dribbble mr-3"></i>
        </a>
  
        <a href="https://pinterest.com/mdbootstrap" target="_blank">
          <i class="fa fa-pinterest mr-3"></i>
        </a>
  
        <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
          <i class="fa fa-github mr-3"></i>
        </a>
  
        <a href="http://codepen.io/mdbootstrap/" target="_blank">
          <i class="fa fa-codepen mr-3"></i>
        </a>
      </div>
      <!-- Social icons -->
  
      <!--Copyright-->
      <div class="footer-copyright py-3">
        © 2018 Copyright:
        <p>  2016 - {{ now.Year }} &copy; | Theme AllinOne Designed by Orianna |  Hosted by Github Pages </p>
        <!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com </a> -->
      </div>
      <!--/.Copyright-->
  
    </footer>
    <!--/.Footer-->
