<!-- Card Wider -->
<div class="card card-cascade wider mb-4 mt-2">
    <a href="{{ .url }}">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{ .img_path }}" >
    
      <div class="mask rgba-white-slight waves-effect waves-light"></div>
    
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
   

    <!-- Title -->
    <h4 class="card-title"><strong>{{ .title }}</strong></h4>
    

    <!-- Text -->
    <p class="card-text">{{ .text }} </p>
    


  </div>
</a>

</div>
<!-- /.Card Wider -->
