{{ $kind := .Kind }}
{{ range where .Pages ".Params.categories" "ne" nil }}
  {{ $.Scratch.Add "categories"  (apply .Params.categories "lower" ".") }}
{{ end }}

{{ $terms := uniq ($.Scratch.Get "categories") }}

{{ if gt (len $terms) 0 }}
  <hr>
  {{ with .Site.Taxonomies.categories }}
    <div class="post-meta">
      <div class="mb-2">
        <a href="{{ "categories/" | absLangURL }}">
          <span class="font-weight-bold text-uppercase post-meta">
            <i class="fas fa-folder-open pr-1" aria-hidden="true"></i> 
            Categories
          </span>
        </a>
      </div>

      <div class="li-x post-meta" style="margin-left: -8px;">
        {{ if eq $kind "section" }}
          <!-- Section -->
          {{ range $index, $element := where .ByCount "Name" "in" $terms }}
            {{ if gt $index 0 }}
              <li class="middot"></li>
            {{ end }}
            <li class="py-1">
              <a href="{{ "categories/" | absLangURL }}{{ $element.Name | urlize }}">
                <span>{{ $element.Name | title }} ({{ .Count }})</span>
              </a>
            </li>           
          {{ end }}
        {{ else }}
          <!-- Others -->
          {{ range $index, $element := .ByCount }}
            {{ if gt $index 0 }}
              <li class="middot"></li>
            {{ end }}
            <li class="py-1">
              <a href="{{ "categories/" | absLangURL }}{{ $element.Name | urlize }}">
                <span>{{ $element.Name | title }} ({{ .Count }})</span>
              </a>
            </li>           
          {{ end }}
        {{ end }}
      </div>
    </div>

    <!-- <hr> -->
  {{ end }}
{{ end }}
