{{ range where .Pages ".Params.series" "ne" nil }}
  {{ $.Scratch.Add "series" (apply .Params.series "lower" ".") }}
{{ end }}

{{ $terms := uniq ($.Scratch.Get "series") }}

{{ $kind := .Kind }}

{{ if or (gt (len $terms) 0) (eq $kind "home") }}
  <hr>
  {{ with .Site.Taxonomies.series }}
    <div class="post-meta">
      <div class="mb-2">
        <a href="{{ "series/" | absLangURL }}">
          <span class="font-weight-bold text-uppercase post-meta">
            <i class="fas fa-bookmark pr-1" aria-hidden="true"></i> 
            Recommend Series
          </span>
        </a>
      </div>
     
      <div class="post-meta" >
        {{ if eq $kind "home" }}
          <!-- Homepage -->
          {{ range first 5 .ByCount }}

            {{ $title := add .Name ( add (add " (" (.Count | string)) ")" ) | title }}
            {{ $url := add ("series/" | absLangURL) (.Name | urlize) }}
            {{ $data :=  (where $.Site.Data.series.series ".name" .Name) }}
            {{ if gt (len $data) 0 }}   
              <!-- In Data  -->
              {{ range $data }}
                {{ partial "sidebar-card.html" (dict "url" $url "title" $title "img_path" ( .img | absLangURL ) "text" .summary ) }}
              {{ end }}
            {{ else }}
              <!-- Not in Data -->
              {{ partial "sidebar-card.html" (dict "url" $url "title" $title "img_path" ( "img/default.jpg" | absLangURL ) "text" nil ) }}
            {{ end }}
          
          {{ end }}

        {{ else }}
          <!-- Others -->
          {{ range first 5 (where .ByCount "Name" "in" $terms) }}
            <li class="py-1"><a href="{{ "series/" | absLangURL }}{{ .Name | urlize }}"><span>{{ .Name | title }} ({{ .Count }})</span></a></li>
          {{ end }}
        {{ end }}
      </div>
    
      
    </div>
  {{ end }}
{{ end }}
  