{{ with .Site.Taxonomies.series }}
  <div class="post-meta">
    <div class="mb-2">
      <a href="{{ "/series/" | relLangURL }}">
        <span class="font-weight-bold text-uppercase post-meta">
          <i class="fas fa-bookmark pr-1" aria-hidden="true"></i> 
          Recommend Series
        </span>
      </a>
    </div>

    <div class="post-meta" >
      
      {{ range first 5 .ByCount }}
        <li class="py-1"><a href="{{ "/series/" | relLangURL }}{{ .Name | urlize }}"><span>{{ .Name }} ({{ .Count }})</span></a></li>
      {{ end }}
    </div>
  
    
  </div>
{{ end }}
  