<!-- <div class="container row justify-content-md-center" >
  <ul>
    {{ range .Site.Menus.main }}    
      <ui>
        <button type="button" class="btn btn-outline-info btn-lg" style="fill-opacity:0" href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</button>
      </ui>    
    {{ end }}
  </ul>
</div> -->

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          {{ if .Site.Params.avatar }}
        <img class="avatar" src="{{ .Site.BaseURL }}{{ .Site.Params.faviconfile }}" style="width: 40px!important;height: auto;"  class="d-inline-block align-top" alt="" >
        {{ end }}
        <strong> {{ .Site.Title }}</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {{ range .Site.Menus.main }}   
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absLangURL }}" target="_blank">{{ .Pre }}{{ .Name }}</a>
            </li>
          
          {{ end }}
        </ul>

        <!-- Right -->
        <!-- <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded"
              target="_blank">
              <i class="fa fa-github mr-2"></i>MDB GitHub
            </a>
          </li>
        </ul> -->

      </div>

    </div>
  </nav>
  <!-- Navbar -->
