

<section class="header">
  <div class="container">
   <div class="content">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
            </div>
          </div>
          </div>
      
     {{ partial "site-nav.html" . }}
     <!-- <nav>
       <ul>
         {{ range .Site.Menus.main }}
           <li class="nav-{{ .Identifier }}"><a href="{{ .URL | absLangURL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
         {{ end }}
       </ul>
     </nav> -->
   </div>
  </div>
</section>

<!-- <section class="icons">
  <div class="container">
    <div class="content">
    {{ if .Site.Params.github }}
      <a href="{{ .Site.Params.github }}" target="_blank" rel="noopener"><img class="icon" src="/img/github.svg" alt="github" /></a>
    {{ end }}

    {{ if .Site.Params.twitter }}
      <a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener"><img class="icon" src="/img/twitter.svg" alt="twitter" /></a>
    {{ end }}

    {{ if .Site.Params.calendar }}
      <a href="{{ .Site.Params.calendar }}" target="_blank" rel="noopener"><img class="icon" src="/img/calendar.svg" alt="calendar" /></a>
    {{ end }}

    {{ if .Site.Params.mastodon }}
      <a href="{{ .Site.Params.mastodon }}" target="_blank" rel="noopener"><img class="icon" src="/img/mastodon.svg" alt="mastodon" /></a>
    {{ end }}

    {{ if .Site.Params.linkedin }}
      <a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener"><img class="icon" src="/img/linkedin.svg" alt="linkedin" /></a>
    {{ end }}

    {{ if .Site.Params.facebook }}
      <a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener"><img class="icon" src="/img/facebook.svg" alt="facebook" /></a>
    {{ end }}

    {{ if .Site.Params.instagram }}
      <a href="{{ .Site.Params.instagram }}" target="_blank" rel="noopener"><img class="icon" src="/img/instagram.svg" alt="instagram" /></a>
    {{ end }}

    {{ if .Site.Params.px500 }}
      <a href="{{ .Site.Params.px500 }}" target="_blank" rel="noopener"><img class="icon" src="/img/500px.svg" alt="500px" /></a>
    {{ end }}

    {{ if .Site.Params.soundcloud }}
      <a href="{{ .Site.Params.soundcloud }}" target="_blank" rel="noopener"><img class="icon" src="/img/soundcloud.svg" alt="soundcloud" /></a>
    {{ end }}

    {{ if .Site.Params.email }}
      <a href="mailto:{{ .Site.Params.email }}"><img class="icon" src="/img/email.svg" alt="email" /></a>
    {{ end }}

    {{ if and .Site.Params.include_rss .RSSLink }}
      <a href="{{ .RSSLink }}"><img class="icon" src="/img/rss.svg" alt="rss" /></a>
    {{ end }}

    {{ if and .Site.Params.i18n_flags .IsTranslated }}
      {{ range .Translations }}
        <a href="{{ .Permalink }}"><img class="icon flag" src="/img/flags/{{ .Lang }}.svg"></a>
      {{ end }}
    {{ end }}
    </div>
  </div>
</section> -->
