<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">  <title>Hello, world!</title>
</head>

<body>
    
  <!--Grid row-->

  <h1>Hello, world!</h1>

  <!--Grid row-->
 <div class="row">

    <!--Grid column-->
   
   <div class="col-md-8">
   
    <!--Spied element-->
    <div class="scrollspy-example
   z-depth-1 text-center p-0" data-spy="scroll" data-target="#mdb-scrollspy-ex" data-offset="0">
   
   
    <section id="section1" class="blue lighten-4">
   
    <h3>
   
   <strong>Section 1</strong>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing
   elit. Dolorem ipsa at provident qui doloremque
    libero quo non pariatur quaerat iure, nostrum, possimus vitae sequi
   officiis quasi dolores
    asperiores earum quis!</p>
    <hr>
    <section id="subsection1A"
   class=" m-4 red lighten-4">
    <h4>
    Subsection 1A
    </h4>
    <p>Lorem
   ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa at provident qui doloremque
    libero quo non pariatur
   quaerat iure, nostrum, possimus vitae sequi officiis quasi dolores
    asperiores earum quis!</p>
    </section>
   
   <hr>
    <section id="subsection1B" class=" m-4 green lighten-4">
    <h4>
   
   Subsection 1B
    </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa
   at provident qui doloremque
    libero quo non pariatur quaerat iure, nostrum, possimus vitae sequi officiis quasi
   dolores
    asperiores earum quis!</p>
    </section>
    <hr>
    <section
   id="subsection1C" class=" m-4 indigo lighten-4">
    <h4>
    Subsection 1C
   
   </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa at provident qui doloremque
   
   libero quo non pariatur quaerat iure, nostrum, possimus vitae sequi officiis quasi dolores
    asperiores earum quis!</p>
   
   </section>
    </section>
    <section id="section2" class="blue lighten-4">
   
   <h3>
    <strong>Section 2</strong>
    </h3>
    <p>Lorem ipsum dolor sit
   amet consectetur adipisicing elit. Dolorem ipsa at provident qui doloremque
    libero quo non pariatur quaerat iure,
   nostrum, possimus vitae sequi officiis quasi dolores
    asperiores earum quis!</p>
    <hr>
   
   <section id="subsection2A" class=" m-4 red lighten-4">
    <h4>
    Subsection
   2A
    </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa at provident
   qui doloremque
    libero quo non pariatur quaerat iure, nostrum, possimus vitae sequi officiis quasi dolores
   
   asperiores earum quis!</p>
    </section>
    <hr>
    <section id="subsection2B"
   class=" m-4 green lighten-4">
    <h4>
    Subsection 2B
    </h4>
    <p>Lorem
   ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa at provident qui doloremque
    libero quo non pariatur
   quaerat iure, nostrum, possimus vitae sequi officiis quasi dolores
    asperiores earum quis!</p>
    </section>
   
   <hr>
    <section id="subsection2C" class=" m-4 indigo lighten-4">
    <h4>
   
   Subsection 2C
    </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsa
   at provident qui doloremque
    libero quo non pariatur quaerat iure, nostrum, possimus vitae sequi officiis quasi
   dolores
    asperiores earum quis!</p>
    </section>
    </section>
   
   
   </div>
    <!--/.Spied element-->
   
    </div>
    <!--Grid column-->
   
   
    <!--Grid column-->
    <div class="col-md-3 mb-4">
   
    <!--Scrollspy-->
   
   <div id="mdb-scrollspy-ex">
   
    <!-- Links -->
    <ul class="nav nav-pills
   default-pills smooth-scroll">
    <li class="nav-item">
    <a class="nav-link"
   href="#section1">Section 1</a>
    <ul class="nav ml-3">
    <li class="nav-item">
   
   <a class="nav-link" href="#subsection1A">Subsection 1A</a>
    </li>
   
   <li class="nav-item">
    <a class="nav-link" href="#subsection1B">Subsection
   1B</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"
   href="#subsection1C">Subsection 1C</a>
    </li>
    </ul>
    </li>
   
   <li class="nav-item">
    <a class="nav-link" href="#section1">Section 2</a>
   
   <ul class="nav ml-3">
    <li class="nav-item">
    <a class="nav-link"
   href="#subsection2A">Subsection 2A</a>
    </li>
    <li class="nav-item">
   
   <a class="nav-link" href="#subsection2B">Subsection 2B</a>
    </li>
   
   <li class="nav-item">
    <a class="nav-link" href="#subsection2C">Subsection
   2C</a>
    </li>
    </ul>
    </li>
    </ul>
    <!-- Links
   -->
   
    </div>
    <!--Scrollspy-->
   
    </div>
    <!--Grid
   column-->
   
    </div>
    <!--Grid row-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>  <!-- <script type="text/javascript" src="/js/vendors/mdb/mdb.js"></script> -->
</body>

</html>