{{ define "header" }} 
   {{ partial "site-navbar.html" . }} 
   {{ partial "homepage-header.html" . }}  

  <!-- Welcome Word -->
  {{ with $.Site.Params.welcome_head }}
    <section class="container pt-5 text-center">
      <h1 class="display-3">{{ $.Site.Params.welcome_head }}</h1>
      {{ with $.Site.Params.welcome_word }}
      <p style="font-size:1.8rem; color: gray;">{{ $.Site.Params.welcome_word }}</p>
      {{ end }}
    </section>
  {{ end }}
  <!-- /.Welcome Word -->

{{ end }} 


{{ define "main" }}
  <!-- Main layout -->
  <main class="container">
    <div class="content pt-5">
      {{ $totalpostscount := len (.Data.Pages) }}
      {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
      {{ if gt $latestpostscount 0 }}
        <div class='py-2'>
          <h1>{{ i18n "latestPosts" }}</h1>
        </div>
        <ul>
            {{ range (first $latestpostscount .Data.Pages.ByPublishDate.Reverse ) }}
                {{ partial "li.html" . }}
            {{ end }}
            
        </ul>
      {{ end }}

    </div>
  </main>
  <!--Main layout-->

{{ end }}